<header>
        <h1>Juan Ramirez's Jazzy Raven ~ ITIS 3135</h1>
        <nav>
            <a href="index.html">Home</a> |
            <a href="contract.html">Contract</a> |
            <a href="survey.html">Survey</a> |
            <a href="cards.html">Cards</a> |
            <a href="inventory.html">Inventory</a> |
            <a href="documentation.html">Documentation</a> |
            <a href="product.html">Product</a> |
            <a href="intro_form.html">Intro Form</a> |
            <a href="../fenixremodelingllc/index.html">Client Project</a> 
        </nav>
        <nav aria-label="Secondary Navigation">
            <a href="website_evaluations.html">Website Evaluations</a> |
            <a href="Stuff/bAdpAgE%20-weird-file.HTM">CRAPpy Page</a> |
            <a href="hobby/index.html">Hobby</a>
        </nav>
        <nav>
            <a href="../fenixremodelingllc/index.html">Client Project</a> 
        
        </nav>
    </header>
